<% if @post.errors.any?%>
<h3>Errors:</h3>
<ul>
<% @post.errors.full_messages.each do  |message|%>
    <li> <%= message%></li>
    <%end%>
    </ul>
<%end%>

<%= form_for @post do |f|%>
<div>
<%= f.label :title%>
<%= f.text_field :title%>
</div>
<div>
<%= f.label :body%>
<%= f.text_area :body%>
</div>
<%= f.submit%>
<%end%>
